<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Sivilingeni&oslash;r med bred erfaring innen utviklingsprosjekter siden 1991. Mest erfaring fra medisinske systemer med h&oslash;ye krav til kvalitet. <br />
			Jobber n&aring; som lead developer for Safety Insight TM i ABB. Utviklingsteam er i Ostrava Tjekkia.
		</div>
		<br>
	</div>
</div>
